[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
django-taggit = "*"
django-hitcount = "*"
django-crispy-forms = "==1.9.2"
django-boost = "*"
django-annoying = "*"
django-filter = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
