{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Login</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-6">



<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
<input type="submit" value="Login">
</form>
<br>
<br>
<h5> don't have an account ?
</h5 class="col-xl-12"> <a href="{% url 'signup' %}"> Signup </a>
</div>
<br>
<br>

{% endblock content %}