{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Post a new Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-6">



<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
<input type="submit" value="Post">
</form>
<br>
<br>

</div>


{% endblock content %}